@media screen and (max-width:500px){

.navsbar{
    padding: 10px;

    background: transparent; /* No color at first */
    border-bottom: none;     /* The template usually has no border when transparent */
    backdrop-filter: none;   /* Blurs can look messy over complex hero images */
}

.navsbar.scrolled {
    background: #153e52; /* Deep Navy */
    padding: 15px;  /* It usually "shrinks" slightly for a pro look */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.logo-icon {
    width: 10px;
    height: 10px;
    margin-right: 17px;
}

.logo-text {
    font-size: 16px;
    margin-top: 10px;
}

.home-text{
    padding-top: 40%;
}

.home-text h1{
    font-size:1.3rem;
    line-height: 1.2;
} 

.home-text p{
    font-size: 0.7rem;
    margin-bottom: 1rem;
}


.discover{
    margin-top: 0.5rem;
    height: 35px;
    width: 130px;
    background-color: #14bf98;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover a{
    text-decoration-line: none;
    color: white;
    font-size: 0.6rem;
    font-weight: 700;
    letter-spacing: 0.125rem;
    padding: 1.375rem 2.625rem;
}



/*  *** Second Container  ****
   *   *** Second Container  ****
   *   *** Second Container  ****
   *   *** Second Container  ****
   */
    .second-container{
        padding: 60px 15px;
        align-items: center;
    }

    #intro{
        letter-spacing: 0.15rem;
        margin-bottom: 15px;
        font-size: 13px;
    }
    
    .first-column-text h2{
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 14px;
    }
    
    .first-column-text p{
        font-size: 0.795rem;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    .first-column-img{
        width: 100%;
        margin-top: 30px;
    }

    .break1{
        display: none;
    }


    .ede-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 60px 20px;
        gap: 30px;
    }

    .third-column{
        width: 100%;
    }

    .third-column h4{
        font-size: 15px;
    }

    .third-column p{
        padding-top: 2px;
        font-size: 12.52px;
        line-height: 1.4;
        text-align: left;
    }



/*  *** Third Container  ****
   *   *** Third Container  ****
   *   *** ThirdContainer  ****
   *   *** Third Container  ****
   */

    .third-contain{
        padding: 40px 15px;
    }

    .third-conti h6{
        letter-spacing: 0.15rem;
        margin-bottom: 5px;
        font-size: 13px;
    }

    .third-conti h4{
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    .third-cont1, .third-cont2, .third-cont3{
        width: 290px;
    }

    .for-mobile{
        display: block;
    }

    .for-desktop{
        display: none;
    }

	.texts h4{
		padding-top:6px;
        font-size: 1.25rem;
	}
	
	.third-contain{
		padding: 40px 15px;
	}


 /* Fourth container **
 *
 *
 */

 .fp-image{
    width: 100%;
    height: 300px;
}

.textt{
    width: 100%;
    padding: 30px 15px 15px 15px;
}

.progs{
    padding-bottom: 5px;
}

.progs h3{
    font-size: 20px;
}

.progs h4{
    color: #484a46;
    font-size: 16px;
}

.help1b, .help2b, .help3b{
    font-size: 12.52px;
    line-height: 1.4;
}

.pro{
    margin-bottom: 15px;
}

.business{
    font-size: 14px;
}

.expertise, .quality{
    font-size: 14px;
}

.businesses h4{
    font-size: 14px;
    margin-bottom: 10px;
}

.businesses p{
    font-size: 11px;
    line-height: 1.4;
    margin-bottom: 15px;
}

.progress-title {
    font-size: 12px;
}

.progress-number {
    font-size: 12px;
}

.expText{
    font-size: 11px;
    line-height: 1.4;
}

.expNumb{
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 1.4;
}

.qualities p{
    font-size: 12px;
    line-height: 1.4;
}

/* Fifth Container
*
*
*
*/

.testimonial-container{
    padding: 80px 20px;
}

.h2-heading{
    font-size: 24px;
}

.h2-subHead{
    font-size: 0.79rem;
    line-height: 1.4;
    padding-bottom: 10px;
}

.testimonial-text{
    font-size: 12px;
    line-height: 1.4;
}

.testimonial-author {
    font-size: 14.5px;
}
	
/* sixth container 
*
*
*
*/

.sixth-inner{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 60px 15px;
}


.call-me h4{
    font-size: 20px;
    padding-bottom: 15px;
}

.call-me h6{
    padding-bottom: 5px;
    font-size: 12px;
    letter-spacing: 0.15rem;
}

.call-me .p1{
    font-size: 12.72px;
    padding-bottom: 12px;
    line-height: 1.5;
}

.call-me .p2{
    font-size: 12px;
    padding-bottom: 12px;
    line-height: 1.5;
}

.form-control{
    font-size: 0.81rem;
}

.checkbox-group{
    font-size: 0.5rem;
    margin-top: 0.8rem;
    gap: 5px;
}

.btn-call-me{
    font-size: 0.795rem;
    margin-top: 0.2rem;
}


/* seventh container **
*
*
*/

.seventh-container{
    padding: 60px 15px ;
}

.show-all span{
    border-radius: 5px ;
    padding: 1px 7px;
    margin: 0px 2.5px;
    font-size: 10px;
}

.project{
    float: left;
    width:100%;
   
}

.header-textt h6{
    letter-spacing: 0.15rem;
    margin-bottom: 5px;
    font-size: 13px;
}

.project-header{
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.show-all{
    float: left;
}

.des{
    font-size: 0.6rem;
    text-transform: uppercase;
    padding: 5px 9px;
    margin:  5px;  
}

.show{
    font-size: 0.6rem;
    text-transform: uppercase;
    padding: 5px 9px;
    margin: 5px;
}


 /* Eight container **
 *
 *
 */

.Eight-container{
    width: 100%;
    clear: both;
    padding: 60px 15px;
}

.eight-text h5{
    font-size: 13px;
    letter-spacing: 0.15rem;
    padding-bottom: 5px;
}

.eight-text h3{
    font-size: 24px;
    padding-bottom: 7.5px;
}

.eight-text p{
    font-size: 12px;
    line-height: 1.5;
}


/* ninth container **
*
*
*
*/  
.ninth-inner{
    padding: 60px 15px;
}

.ninth-cont{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.ninth-cont h6{
    font-size: 13px;
    letter-spacing: 0.15rem;
    margin-bottom: 5px;
}

.ninth-cont h3{
    font-size: 21px;
    padding-bottom: 10px;
}

.ninth-cont p{
    font-size: 12px;
    line-height: 1.5;
}

.aboutTextWrapper{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.aboutText{
    display: flex;
    flex-direction: row;
    align-items: start!important;
    justify-content: start!important;
}

.aboutText p{
    padding-left: 5px;
    padding-bottom: 2.8px;
    font-size: 11.4px;
    line-height: 1.3;
}

.squareicon{
    margin-top: 2px;
    height: 10px;
    width: 10px;
}

.ninth-numbers{
    width: 100%;
    padding: 0px 5px 0px 2px;
}

.numbers-1, .numbers-2, .numbers-3{
    font-size: 1.3rem;
}

.numb{
    padding-left: 4px; 
    justify-content: center; 
}

.numb-text{
    font-size: 0.6rem;
}

.ninth-image{
    margin-top: 15px;
    width: 100%;
}

.ninth-image img{
    width: 100%;
}

/** Tenth  container **
**
**
*/

.tenth-inner{
    padding: 60px 15px;
}

.contact-us h6{
    font-size: 13px;
    letter-spacing: 0.15rem;
    padding-bottom: 5px;
}

.contact-us h4{
    font-size: 24px;
    padding-bottom: 15px;
}

.contact-p{
    font-size: 14px;
    line-height: 1.4;
    padding-bottom: 15px;
}

.phoneLine p{
    font-size: 12px;
    padding-left: 5px;
    line-height: 1.4;
}

.phoneLine a{
    font-size: 12px;
    padding-left: 5px;
}

.addressLine p{
    padding-left: 5px;
    font-size: 12px;
    line-height: 1.4;
}

.followAria{
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 1.8rem;
}

.contactTerms{
    font-size: 8px;
}

.checkbox-group2 {
    font-size: 10px;
    gap: 5px;
}

/** Eleventh  container **
**
**
*/

.eleventh-in{
    padding: 60px 15px 10px 15px;
}

.eleventh-inner{
    padding-bottom: 20px;
}


.eleventh-inner h5{
    margin-bottom: 10px;
}

}
